

.main
{
    border: black 0px solid;
    width: fit-content;
    width: 25px;
    height: 25px;
    background: url("../../Images/seat.png");
    background-position: center;
    background-size: 30px;
    /* background-color: rgb(5, 238, 25); */
    text-align: center;
    justify-content: center;
    padding-top: 2px;
    cursor: pointer;

    float: left;  
    margin: 15px 15px 15px 15px;
}

.main1
{
    background-color: rgb(1, 247, 22);
    opacity: 1;
}

.main>p
{
    color: rgb(31, 30, 30); 
    font-size: 12px;
    margin: 3px 0px 0px 0px;
}