.main_div {
    width: 100%;
    height: auto;
    min-height: 350px;
    background-image: url("https://images.railyatri.in/ry_images_prod/city-banner-1561721583.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 35%;
    font-family: "Roboto", sans-serif;
}

.inner_div {
    width: 85%;
    min-height: 300px;
    margin: 50px auto;
}

.search_form {
    width: 370px;
    height: 372px;
    background-color: #004F9E;
    border-radius: 6px;
    box-shadow: 0 2px 5px 2px rgb(0 0 0 / 10%);
}

.img_bus {
    margin-top: 13%;
    margin-left: 22%;
    max-width: 100%;
    height: auto;
}
.choos_header{
    margin-top: 0;
    margin-left: -375px;
    font-size: 24px;
}
.safty_div{
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}
.smaller_div{
    display: flex;
    width: 256px;
    height: 47px;
}
.p{
    font-size: 14px;
    text-align: left;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #242424;
}
.p_safe{
    font-size: 10px;
    text-align: left;
    margin: 0;
    color: #757575;
}