.rec-dot {
    display: none;
}

.rec-arrow-left {
    display: none;
}

.rec-arrow-right {
    display: none;
}

.btn {
    background: #86bc24;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin: 0 10px 0 10px;
}

.leftright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h4 {
    font-weight: 700;
    margin: 0 10px;
    font-size: 22px;
    color: #000;
}
.Offer__Div{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}